Soccernet/
.vscode/
__pycache__
runs/
yolo_dataset_proper
*.zip
*.pt
# test.py
results-2.csv
*.csv
test_results/
soccernet_dataset_test.yaml
*.img
*.png
yolo_dataset_subset_10k
visualize_training_images.py
visualize_training_images.py
soccernet_gsr_v8_improved2
soccernet_gsr_yolo12s_tuned19
*.txt
weights
12s_16batch_no_aug
v100_12s_10b_no_aug
test_run_50e_with_aug3
test_video.mp4
checkpoints/
models/
.claude
results/
debug_iou.py
pitch_segmentation_20250813_142429_best.pth
pitch_segmentation_20250813_205942_best.pth
*.pth
*.mp4
augmented_visualization/
clean_visualization/
visualization_output/